<header class="header">
  <h1 class="edit-title">プロフィール編集画面</h1>
</header>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @user do |f| %>

          <%=f.label :username %>
          <%= f.text_field :username,class:"input" %>

          <%=f.label :email %>
          <%= f.text_field :email,class:"input" %>

          <%=f.label :profile %>
          <%= f.text_field :profile,class:"textarea" %>

          <%=f.label :profile_image%>
          <%= f.attachment_field :profile_image,class:"input" %>

          <%=f.submit "更新",class:"button is-link"%>

        <% end %>
      </div>
    </div>
  </div>
</section>