<header class="header">
  <h1 class="edit-title">プロフィール編集画面</h1>
</header>

<%= form_for @user do |f| %>

  <%=f.label :username %>
  <%= f.text_field :username %>

  <%=f.label :email %>
  <%= f.text_field :email %>

  <%=f.label :profile %>
  <%= f.text_field :profile %>

  <%=f.label :profile_image%>
  <%= f.attachment_field :profile_image %>

  <%=f.submit "更新",class:"button is-link"%>

<% end %>