<header class="header">
  <h1 class="profile-title">プロフィール</h1>
</header>
<section class="content__image">
  <figure class="image is-128x128">
    <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png" %>
  </figure>
    <div class="namebox">
      <%= @user.username%>
      <div class="profilebox">
        <%= @user.profile%>
      </div>
    </div>
    <div class="emailbox">
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= @user.email%>
        <%= link_to "編集", edit_user_path(@user), class:"button is-link"%>
      <% end %>
    </div>
</section>

<h1 class="mypost-title">My投稿</h1>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.posts.each do |post| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to post_path(post) do %>
                  <%= attachment_image_tag post, :image, fallback: "no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to"投稿詳細", post_path(post), class: "button is-link"  %>
                  <% if user_signed_in? && @user.id == current_user.id %>
                    <%= link_to "投稿削除",post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "button is-link" %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <%= post.created_at.strftime("%Y-%m-%d %H:%M") %> 投稿
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>