<header class="header">
  <h1 class="profile-title">プロフィール</h1>
</header>

<%= attachment_image_tag @user, :profile_image, fallback: "no-image.png"%>

<%= @user.username%>

<%= @user.profile%>

<% if @user.id == current_user.id %>
  <%= @user.email%>
  <%= link_to "編集", edit_user_path(@user), class:"button is-link"%>
<% end %>

<%= @user.posts.each do |post| %>
  <div class="images">
    <%= attachment_image_tag post, :image %>
  </div>
  <div>
    <%= link_to "詳細",post_path(post),class:"button is-link" %>
  </div>
  <%= link_to "削除",post_path(post),method: :deleted,data: {confirm: "削除しますか？"},class:"button is-link" %>
<% end %>