<h1 class="title">投稿編集画面</h1>

<%= form_for @post do |f|%>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.label :image %>
  <%= f.attachment_field :image %>

  <%= f.submit "編集完了", class:"button is-link"%>
<% end %>
