
<h1 class="title">投稿画面</h1>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%=form_for @post do |f| %>

          <%= f.label :title,class:"label" %>
          <%= f.text_field :title,class:"input" %>


          <%= f.label :text,class:"label" %>
          <%= f.text_area :text,class:"textarea"%>

          <%= f.label :image,class:"label"%>
          <%= f.attachment_field :image,class:"input"%>

          <%= f.submit "投稿", class:"button is-link"%>

        <% end %>
      </div>
    </div>
  </div>
</section>