<!DOCTYPE html>
<html>
  <head>
    <title>MotoUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar is-black">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-3 has-text-warning" style="font-family: HoeflerText-Black;">Moto Up</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <% if user_signed_in?%>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <p class="navbar-item">
                <%= link_to "投稿一覧",posts_path,class:"button is-link"%>
            </p>
            <p class="navbar-item">
                <%= link_to "投稿",new_post_path,class:"button is-link" %>
            </p>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "マイページ",user_path(current_user),class:"button is-link" %>
                <p class="control">
                <%= link_to "ユーザー一覧",users_path,class:"button is-link"%>
                </p>
                <p class="control">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-link"%>
                </p>
              </div>
            </div>
          </div>
        </div>
      <%else%>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-item">
            <%= link_to "投稿一覧",posts_path,class:"button is-link"%>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "ユーザー一覧",users_path,class:"button is-link"%>
                </p>
                <p class="control">
                  <%= link_to "Login", new_user_session_path, class: "button  is-link " %>
                </p>
                <p class="control">
                  <%= link_to "Sign_up", new_user_registration_path, class: "button is-link "%>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </nav>  
    <%= yield %>
  </body>
</html>
