<!DOCTYPE html>
<html>
  <head>
    <title>Fmsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert]%>
      <div class="alert-info">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <header class="header">
      <%= link_to root_path, class: "nav-bar" do%>
        <h1 class="maintitle" style="font-family: cursive;">favrit/moter/sport</h1>
      <% end %>
    </header>

    <% if user_signed_in?%>
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: "bottun is-link"%>
    <%else%>
      <div class="">
      <%= link_to "Login", new_user_session_path, class: "button  is-link " %>
      <%= link_to "Sign_up", new_user_registration_path, class: "button is-link "%>
    <% end %>

    <%= yield %>
  </body>
</html>
